.header {
  background-color: #663399;
  color: white;
  padding: 5px 20px; 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 70px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


.header h1 {
  margin-left: 350px;
  font-size: 25px; 
}
